{% extends 'base.html.twig' %}

{% block title %}Wiadomość
{% endblock %}

{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h3 class="title">Wiadomość z
				{{recipient.firstName}}
				{{ recipient.lastName}}
			</h3>
		</div>
	{% endblock %}
	{% block section %}
		<section class='box-messages pb-0'>
			<div class="mb-3">
				{% if messages %}
					{% for message in messages %}
						{% if app.user == message.sender  %}
							<div class="text-end d-flex flex-column align-items-end mb-2">
								<div class="d-flex align-items-end">
									<small class="me-1">{{message.createdAt|date(" d.m.y m:h") }}</small>
									{% include 'dashboard/shared/_img_avatar.html.twig' with {avatar: app.user.avatar , width: 30, height: 30} %}
								</div>
								<span class="bg-success rounded-4 py-2 px-3 text-white">
									{{message.content}}
								</span>
							</div>
						{% else %}
							<div class="d-flex flex-column align-items-start mb-2">
								<div class="d-flex align-items-end">
									{% include 'dashboard/shared/_img_avatar.html.twig' with {avatar: recipient.avatar , width: 30, height: 30} %}
									<small class="ms-1">{{message.createdAt|date(" d.m.y m:h") }}</small>
								</div>
								<span class="my-bg-white rounded-4 py-2 px-3">
									{{message.content}}</span>
							</div>
						{% endif %}
					{% endfor %}
				{% else %}
					<p class='my-bg-white rounded-4 p-3 h4 text-center text-uppercase'>Brak wiadomości</p>
				{% endif %}
			</div>
			<div class="position-sticky bottom-0 my-bg-light pb-3">
				{{ form_errors(form) }}
				{{ form_start(form, {'attr':{'class': 'row g-3 needs-validation'}})}}
				{{ form_widget(form.content, {'attr': {'class': 'col-md-12 form-control my-bg-white'}}) }}
				<div class="text-end">
					<button type="submit" class="btn btn-success">Wyślij</button>
				</div>
				{{ form_end(form) }}
			</div>
		</section>
	{% endblock %}
{% endblock %}
