{% extends 'base.html.twig' %}

{% block title %}Raporty
{% endblock %}

{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Raporty</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section class="box-reports">
			{% include "shared_global/info.html.twig" %}
			<p>dzień raportu:
				{% set dayName = [
					"poniedziałek",
					"wtorek",
					"środa",
					"czwartek",
					"piątek",
					"sobota",
					"niedziela"] 
				%}
				{{date}}
				każdego tygodnia</p>


			<a href="{{path('student_report_add')}}" type="button" class="btn btn-dark my-3">Dodaj raport</a>

			{% for report in reports %}
				<div class="rounded-5 my-bg-white mb-2 ps-2 pe-3">
					<div class="d-flex flex-row justify-content-between">
						<div class="d-flex">
							<div class="box-img p-2">
								{% include "dashboard/shared/_img_raport.html.twig" %}
							</div>
							<div class="d-flex flex-column justify-content-between p-2">
								<div class="d-flex justify-content-between align-content-center w-100">
									<div class="d-flex align-items-center">
										<p class="h5 mb-0 me-3">{{report.weight}}<small>kg</small>
										</p>
										<p class="h6 mb-0 text-danger">{{report.weightDifference}}<small>kg</small>
										</p>
									</div>
									<p>{{report.date|date("d.m.Y") }}</p>
								</div>
								<ul class="d-flex align-content-center w-100 list-inline mb-0">
									<li class="list-inline-item text-secondary fw-light me-3">
										<small>Udo:
											{{report.thighCircumference}}cm</small>
									</li>
									<li class="list-inline-item text-secondary fw-light me-3">
										<small>Pas:
											{{report.beltCircumference}}cm</small>
									</li>
									<li class="list-inline-item text-secondary fw-light me-3">
										<small>Klatka:
											{{report.chestCircumference}}cm</small>
									</li>
									<li class="list-inline-item text-secondary fw-light">
										<small>Biceps:
											{{report.bicepsCircumference}}cm</small>
									</li>
								</ul>
							</div>
						</div>
						<div class="d-flex align-items-center">
							<div class="text-center p-2">

								{% if report.verified %}
									<i class="bi bi-journal-check text-success h3 mb-0 "></i>
								{% else %}
									<i class="bi bi-journal-x text-danger h3 mb-0"></i>
								{% endif %}
							</div>
							<div class="p-2">
								<a href="{{path('student_report', {id: report.id} )}}" class="btn btn-success">Podgląd</a>
								<a href="{{path('student_report_edit', {id: report.id} )}}" class="btn btn-success">Edytuj</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}{% endblock %}
