{% extends 'base.html.twig' %}

{% block title %}Wszyscy Trenerzy
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Wszyscy Trenerzy</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "shared_global/info.html.twig" %}

			{% if app.user.trainer %}


				<p class="h5">Twój Trener</p>

				<table class="table">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Id</th>
							<th scope="col">Imię</th>
							<th scope="col">Nazwisko</th>
							<th scope="col">Email</th>
							<th class="text-end" scope="col">Wybieram</th>
						</tr>
					</thead>
					<tbody>
						<td>
							{% if app.user.trainer.avatar %}
								<img class="rounded-circle object-fit-cover my-1" width="35" height="35" src="{{avatar_url ~ app.user.trainer.avatar}}" alt="">
							{% else %}
								<img src="/assets/image/mean.png" width="35" height="35" class="rounded-circle float-start" alt="...">
							{% endif %}
						</td>
						<td>{{app.user.trainer.id}}</td>
						<td>
							<a href="{{path('student_trainer', {id: app.user.trainer.id})}}">{{app.user.trainer.firstName}}</a>
						</td>
						<td>{{app.user.trainer.lastName}}</td>
						<td>{{app.user.trainer.email}}</td>
						<td class="text-end">
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
								Zakończ
							</button>
						</td>
					</tbody>
				</table>

				<p class="h5 mt-5">Pozostali</p>
			{% endif %}
			<table class="table">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Id</th>
						<th scope="col">Imię</th>
						<th scope="col">Nazwisko</th>
						<th scope="col">Email</th>
						<th class="text-end" scope="col">Wybieram</th>
					</tr>
				</thead>
				<tbody>
					{% for trainer in trainers %}
						<td>
							{% if trainer.avatar %}
								<img class="rounded-circle object-fit-cover my-1" width="35" height="35" src="{{avatar_url ~ trainer.avatar}}" alt=""></a>
						{% else %}
							<img src="/assets/image/mean.png" width="35" height="35" class="rounded-circle float-start" alt="...">
						{% endif %}
					</td>

					<td>{{trainer.id}}</td>
					<td>
						<a href="{{path('student_trainer', {id: trainer.id})}}">{{trainer.firstName}}</a>
					</td>
					<td>{{trainer.lastName}}</td>
					<td>{{trainer.email}}</td>
					<td class="text-end">
						<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
							Wybierz
						</button>
					</td>
				</tbody>
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">
									<strong>
										{% if app.user.trainer.firstname is defined %}
											Niestety Masz Już Trenera!!
										{% else %}
											Potwierdz Twój Wybór!
										{% endif %}
									</strong>
								</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								{% if app.user.trainer.firstname is defined %}
									Pierwsze zakończ współpracę z aktualnym trenerem.
								{% else %}
									Czy napewno potwierdzasz wybór trenera ?
								{% endif %}
							</div>
							<div class="modal-footer">
								{% if not app.user.trainer.firstname is defined  %}
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
									<a type="button" class="btn" href="{{path('chose_trainer', {id: trainer.id})}}">Tak</a>
								{% else %}
									<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</table>
	</section>
{% endblock %}{% endblock %}
