{% extends 'base.html.twig' %}

{% block title %}Trener
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Trener</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "shared_global/info.html.twig" %}
		<div class="d-flex align-items-center">
			<div class="d-block">
					{% if trainer.avatar %}
						<img class="rounded-circle object-fit-cover my-1" width="150" height="150" src="{{avatar_url ~ trainer.avatar}}" alt=""></a>
				{% else %}
					<img src="/assets/image/mean.png" width="150" class="rounded-circle float-start" alt="...">
				{% endif %}
			</div>
			<div class="p-3 ms-3 rounded-5 my-bg-white flex-grow-1">		
				<p><strong>Imię:</strong>
					{{trainer.firstName}}</p>
				<p><strong>Nazwisko:</strong>
					{{trainer.firstName}}</p>
				<p><strong>Email:</strong>
					{{trainer.email}}</p>
				<p><strong>Opis:</strong>
					{% if trainer.description %}
						{{trainer.description}}
					{% else %}
						Brak opisu
					{% endif %}
				</p>
			</div>
		</div>

		<h3>Opienie:</h3>
		{% if form %}
			<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Dodaj Opinie
			</button>
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								{{form(form)}}
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
								<button type="button" class="btn btn-success">Save changes</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if trainer.reviews %}
				{% for review in trainer.reviews %}
					<div class="my-bg-white my-2 p-3 rounded-5">
						<div class="d-flex flex-wrap justify-content-between align-items-center">
						<p class="m-0">Ocena:
							{{ review.rating}}</p>
						<p class="m-0">Data:
							{{ review.date | date("d.m.Y")}}
						</p>
						</div>
						<p class="m-0">{{ review.opinion}}</p>
					</div>
				{% endfor %}
			{% else %}
				<div class="my-bg-white my-2 p-3 rounded-5">
					<p>brak opini</p>
				</div>
			{% endif %}
		</section>
	{% endblock %}
{% endblock %}
