{% extends 'base.html.twig' %}

{% block title %}Wszyscy Trenerzy
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h3 class="title">Wszyscy Trenerzy</h3>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "shared_global/info.html.twig" %}

			{% if app.user.trainer %}


				<p class="h5">Twój Trener</p>
				<div class="rounded-5 p-3 my-bg-white">
					<table class="table m-0 my-bg-white">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Id</th>
								<th scope="col">Imię</th>
								<th scope="col">Nazwisko</th>
								<th scope="col">Ocena</th>
								<th class="text-end" scope="col">Zobacz Profil</th>
							</tr>
						</thead>
						<tbody>
							<tr class="line-height">
								<td>
									{% include 'dashboard/shared/_img_avatar.html.twig' with {avatar: app.user.trainer.avatar , width: 35, height: 35} %}
								</td>
								<td>{{app.user.trainer.id}}</td>
								<td>{{app.user.trainer.firstName}}</td>
								<td>{{app.user.trainer.lastName}}</td>
								<td>brak ocen</td>
								<td class="text-end">
									<a type="button" class="btn btn-success" type="button" class="btn" href="{{path('student_trainer', {id: app.user.trainer.id})}}">Czytaj</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<p class="h5 mt-5">Pozostali</p>
			{% endif %}
			<div class="rounded-5 p-3 my-bg-white">
				<table class="table m-0 my-bg-white">
					<thead>
						<tr>
							<th scope="col"></th>
							<th scope="col">Id</th>
							<th scope="col">Imię</th>
							<th scope="col">Nazwisko</th>
							<th scope="col">Ocena</th>
							<th class="text-end" scope="col">Zobacz Profil</th>
						</tr>
					</thead>
					<tbody>
						{% for trainer in trainers %}
							<tr class="line-height">
								<td>
									{% include 'dashboard/shared/_img_avatar.html.twig' with {avatar: trainer[0].avatar , width: 35, height: 35} %}
								</td>
								<td>{{trainer[0].id}}</td>
								<td>{{trainer[0].firstName}}</td>
								<td>{{trainer[0].lastName}}</td>
								<td>
									{% if trainer.average_rating %}
										<i class="bi bi-star-fill text-success"></i>
										{{trainer.average_rating | number_format(2, '.', ',') }}
									{% else %}
										brak ocen
									{% endif %}
								</td>
								<td class="text-end">
									<a type="button" class="btn btn-success" type="button" class="btn" href="{{path('student_trainer', {id: trainer[0].id})}}">Czytaj<a>
								</td>
									</tr>
								{% endfor %}
							</tr>
						</tbody>
					</tbody>
				</table>
			</div>
		</section>
	{% endblock %}
{% endblock %}
