{% extends 'base.html.twig' %}

{% block title %}Trener
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Trener</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "shared_global/info.html.twig" %}
			<div class="d-block">
				{% if trainer.avatar %}
					<img class="rounded-circle object-fit-cover my-1" width="150" height="150" src="{{avatar_url ~ trainer.avatar}}" alt=""></a>
			{% else %}
				<img src="/assets/image/mean.png" width="150" class="rounded-circle float-start" alt="...">
			{% endif %}
		</div>
		<p>Imię:
			{{trainer.firstName}}</p>
		<p>Nazwisko:
			{{trainer.firstName}}</p>
		<p>Email:
			{{trainer.email}}</p>
		<p>Opis:
			{% if trainer.description %}
				{{trainer.description}}
			{% else %}
				Brak opisu
			{% endif %}
		</p>
	</section>
{% endblock %}{% endblock %}
