{% extends 'base.html.twig' %}

{% block title %}Trener
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Trener</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "shared_global/info.html.twig" %}
			<div class="d-block">
				{% if trainer.avatar %}
					<img class="rounded-circle object-fit-cover my-1" width="150" height="150" src="{{avatar_url ~ trainer.avatar}}" alt=""></a>
			{% else %}
				<img src="/assets/image/mean.png" width="150" class="rounded-circle float-start" alt="...">
			{% endif %}
		</div>
		<p>Imię:
			{{trainer.firstName}}</p>
		<p>Nazwisko:
			{{trainer.firstName}}</p>
		<p>Email:
			{{trainer.email}}</p>
		<p>Opis:
			{% if trainer.description %}
				{{trainer.description}}
			{% else %}
				Brak opisu
			{% endif %}
		</p>

		<h2>Opienie:</h2>
		{% if form %}
			<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
				Dodaj Opinie
			</button>
			<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div>
								{{form(form)}}
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save changes</button>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if trainer.reviews %}
				{% for review in trainer.reviews %}
					<div class="bg-light my-2 p-3">
						<p>Ocena:
							{{ review.rating}}</p>
						<p>Data:
							{{ review.date | date("d.m.Y")}}
						</p>
						<p>{{ review.opinion}}</p>
					</div>
				{% endfor %}
			{% endif %}
		</section>
	{% endblock %}
{% endblock %}
