<div>
	{{ form_errors(formPassword) }}
	{{ form_start(formPassword, {'attr':{'class': 'row g-3 needs-validation'}}) }}

	<div class="col-md-6">
		{{ form_label(formPassword.password.first, 'Edytuj Hasło', {'label_attr': {'class': 'form-label h3'}}) }}
		{{ form_widget(formPassword.password.first, {'attr': {'class': 'form-control my-bg-white'}}) }}
		<div class="text-dark">
			{{ form_errors(formPassword.password.first) }}
		</div>
	</div>

	<div class="col-md-6">
		{{ form_label(formPassword.password.second, 'Powtórz Hasło', {'label_attr': {'class': 'form- h3'}}) }}
		{{ form_widget(formPassword.password.second, {'attr': {'class': 'form-control my-bg-white'}}) }}
		<div class="text-dark">
			{{ form_errors(formPassword.password.second) }}
		</div>
	</div>
	<div class="text-end">
		<button type="submit" class="btn btn-warning">Zapisz</button>

	</div>
	{{ form_end(formPassword) }}
</div>
