{% extends 'base.html.twig' %}

{% block title %}Raporty
{% endblock %}

{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h3 class="title">Raporty</h3>
		</div>
	{% endblock %}
	{% block section %}
		<section class="box-reports">
			{% include "shared_global/info.html.twig" %}
			{% if reports is not empty  %}
				{% for report in reports %}
					<a href="{{path('trainer_report', {id: report.id} )}}" type="button" class=" my-bg-white mb-2 rounded-5 d-block px-2 report-hover">
						<div class="d-flex flex-row justify-content-between">
							<div class="p-2 d-flex flex-column align-items-center justify-content-center">
								{% include 'dashboard/shared/_img_avatar.html.twig' with {avatar: report.student.avatar , width: 25, height: 25} %}
								<p class="me-2">
									{{report.student.firstname}}
									{{report.student.lastName}}
								</p>
							</div>
							<div class="p-2 box-img">
								<img class="img rounded-4 object-fit-cover" src="{{reports_url ~ report.frontImg}}" alt="">
								<img class="img rounded-4 object-fit-cover" src="{{reports_url ~ report.sideImg}}" alt="">
								<img class="img rounded-4 object-fit-cover" src="{{reports_url ~ report.backImg}}" alt="">
							</div>
							<div class="d-flex flex-column justify-content-between p-2 flex-grow-1">
								<div class="d-flex justify-content-between align-content-center w-100">
									<div class="d-flex align-items-center">
										<p class="h5 mb-0 me-3">{{report.weight}}<small>kg</small>
										</p>
										<p class="h6 mb-0 text-danger">{{report.weightDifference}}<small>kg</small>
										</p>
									</div>
									<span class="text-dark">Raport z dnia:
										{{report.date|date("d.m.Y") }}
									</span>
								</div>
								<ul class="d-flex align-content-center w-100 list-inline mb-0">
									<li class="list-inline-item text-secondary fw-light me-3">
										<small>Udo:
											{{report.thighCircumference}}cm</small>
									</li>
									<li class="list-inline-item text-secondary fw-light me-3">
										<small>Pas:
											{{report.beltCircumference}}cm</small>
									</li>
									<li class="list-inline-item text-secondary fw-light me-3">
										<small>Klata:
											{{report.chestCircumference}}cm</small>
									</li>
									<li class="list-inline-item text-secondary fw-light">
										<small>Bicek:
											{{report.bicepsCircumference}}cm</small>
									</li>
								</ul>
							</div>
							<div class="d-flex flex-column align-items-center text-center p-2">
								<p class="mb-1">Sprawdzony?</p>
								{% if report.verified %}
									<i class="bi bi-check2-circle text-success h5 mb-0 ">
										TAK</i>

								{% else %}
									<i class="bi bi-ban text-danger h5 mb-0">
										NIE</i>
								{% endif %}
							</div>
						</div>
					</a>
				{% endfor %}
			{% else %}
				<p>brak podopiecznych</p>
			{% endif %}
		</section>
	{% endblock %}
{% endblock %}
