{% extends 'base.html.twig' %}

{% block title %}Podopieczny
{% endblock %}

{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h3 class="title">Podopieczny
			</h3>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{% include "shared_global/info.html.twig" %}
			<div class="d-flex align-items-center">
				<div class="d-block">
					{% include 'dashboard/shared/_img_avatar.html.twig' with {avatar: student.avatar , width: 150, height: 150} %}
				</div>
				<div class="p-3 ms-3 rounded-5 my-bg-white flex-grow-1">
					<p>
						<strong>Imię:</strong>
						{{student.firstName}}</p>
					<p>
						<strong>Nazwisko:</strong>
						{{student.lastName}}</p>
						<strong>Opis:</strong>
						{% if student.description %}
							{{student.description}}
						{% else %}
							Brak opisu
						{% endif %}
					</p>
					<a type="button" class="btn btn-success" href="{{path('message', {id:student.id})}}">Wyślij Wiadomość</a>
					<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
						Zakończ Współpracę
					</button>
				</div>
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h1 class="modal-title fs-5" id="exampleModalLabel">
									<strong>
										Kończysz współpracę!
									</strong>
								</h1>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								Czy jesteś pewien ?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Anuluj</button>
								<a type="button" class="btn btn-success" href="{{path('student_termination', {id: student.id})}}">Tak</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}
{% endblock %}
