<div class="mb-2 border-bottom pb-2 d-flex">
	<div class="d-flex flex-column me-2 align-items-center">
		<i class="{{icon}} m-0 h5 text-warning"></i>
		{% if info.seedAt is null %}
			<i class="bi bi-exclamation-circle m-0 text-danger"></i>
		{% else %}
			<i class="bi bi-check2-circle m-0 text-success"></i>
		{% endif %}
	</div>
	<div class="flex-grow-1">
		<div class="toast-header">
			{% if info.seedAt is null %}
				<strong class="me-auto">{{title}}</strong>
			{% else %}
				<p class="me-auto mb-0">{{title}}</p>
			{% endif %}
			<small>
				{% set currentTime = "now"|date("U") %}
				{% set infoTime = info.createdAt|date("U") %}
				{% set timeDifference = currentTime - infoTime %}
				{% set minutesAgo = (timeDifference / 60)|round %}
				{% set hoursAgo = (timeDifference / 3600)|round %}
				{% set daysAgo = (timeDifference / 86400)|round %}
				{% set weeksAgo = (timeDifference / 604800)|round %}
				{% if weeksAgo > 0 %}
					{{ weeksAgo }}
					{{ weeksAgo > 1 ? 'tygodni' : 'tydzień' }}
					temu
				{% elseif daysAgo > 0 %}
					{{ daysAgo }}
					{{ daysAgo > 1 ? 'dni' : 'dzień' }}
					temu
				{% elseif hoursAgo > 0 %}
					{{ hoursAgo }}
					{{ hoursAgo > 1 ? 'godziny' : 'godzinę' }}
					temu
				{% else %}
					{{ minutesAgo }}
					{{ minutesAgo > 1 ? 'minut' : 'minute' }}
					temu
				{% endif %}
			</small>
		</div>

		<div class="toast-body d-flex justify-content-between align-items-center">
			<small class="m-0 me-1">{{subTitle}}</small>
			{% if type == "report" %}
				{% if is_granted('ROLE_STUDENT') %}
					<a class="btn btn-sm btn-warning py-0" href="{{path('student_report', {id: id} )}}">Zobacz</a>
				{% endif %}
				{% if is_granted('ROLE_TRAINER') %}
					<a class="btn btn-sm btn-warning py-0" href="{{path('trainer_report', {id: id} )}}">Zobacz</a>
				{% endif %}
			{% elseif type == "trener" %}
				<a class="btn btn-sm btn-warning py-0" href="{{path('trainer_student', {id: id})}}">Zobacz</a>
			{% elseif type == "student" %}
				<a class="btn btn-sm btn-warning py-0" href="{{path('student_trainer', {id: id})}}">Zobacz</a>
			{% elseif type == "questionnaire-trainer" %}
				<a class="btn btn-sm btn-warning py-0" href="{{path('trainer_student', {id: id})}}">Zobacz</a>
			{% elseif type == "questionnaire-student" %}
				{% if app.user.questionnaire is not null %}
					<a class="btn btn-sm btn-warning py-0" href="{{path('student_questionnaire_add')}}">Zobacz</a>
				{% else %}
					<a class="btn btn-sm btn-warning py-0" href="{{path('student_questionnaire_add')}}">Wypełnij</a>

				{% endif %}

			{% endif %}
		</div>
	</div>
</div>
