<header class="">
	<div class="d-flex align-items-center justify-content-between w-100 px-2">
		<img class="logo-header me-2" src="/assets/image/logo.png" width="80" alt="">
		<div class="d-flex">
			<button type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" class="btn btn-primary position-relative p-0 border-0 bg-transparent mx-2 mt-1">
				<i class="bi bi-info-circle"></i>
				{% set var = 0 %}
				{% for info in app.user.infos %}
					{% if info.seedAt is null %}
						{% set var = var + 1 %}
					{% endif %}
				{% endfor %}
				{% if var > 0 %}
					<span class="position-absolute start-100 translate-middle badge rounded-pill">
						{{ var }}
					</span>
				{% endif %}

			</button>
			<button type="button" class="btn btn-primary position-relative p-0 border-0 bg-transparent mx-2 mt-1">
				<a href="{{path('messages')}}">
					<i class="bi bi-chat-dots"></i>
					{% if app.user.unreadMessageCount > 0 %}
						<span class="position-absolute start-100 translate-middle badge rounded-pill">
							{{app.user.unreadMessageCount}}
						</span>
					{% endif %}
				</a>
			</button>


			<div class="d-flex flex-column align-items-center mx-2">
				<div class="btn-group dropdown ">
					<button type="button" class="dropdown-toggle dropdown-toggle-split p-0 img-header" data-bs-toggle="dropdown" aria-expanded="false">
						{% include 'dashboard/shared/_img_avatar.html.twig' with {avatar: app.user.avatar , width: 40, height: 40} %}
						<i class="bi bi-caret-down-square-fill"></i>
					</button>
					<ul class="dropdown-menu border-0">
						<li class="my-1 dropdown-item">
							<a class="d-flex align-items-center nav-link px-0 p-1" href="{{path('settings')}}">
								<span class="me-2">
									<i class="bi bi-tools"></i>
								</span>Ustawnienia
							</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li class="my-1  dropdown-item">
							<form method="GET" action={{path('logout')}}>
								<button type="submit" class="d-flex align-items-center nav-link px-0 p-1 my-1">
									<span type="submit" class="me-2">
										<i class="bi bi-door-open"></i>
									</span>Wyloguj
								</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
	<div class="offcanvas-header">
		<h5 class="offcanvas-title" id="offcanvasRightLabel">Informacje</h5>
		<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>

	<div class="offcanvas-body pt-0">
		{% if app.user.infos is not empty %}
			{% for info in app.user.infos|reverse %}
				{% if info.action == 'new-report'%}
					{% include 'dashboard/header/_info.html.twig' with {
						icon : "bi bi-clipboard-data-fill",
    					title: "Nowy Raport" , 
    					subTitle: 'Raport #' ~ info.report.numberReport ~ ' użytkownika ' ~ info.report.student.firstName ~ ' ' ~ info.report.student.lastName,
						id: info.report.id,
						type: "report"
				} %}
				{% elseif  info.action == 'new-analysis-report'%}
					{% include 'dashboard/header/_info.html.twig' with {
						icon : "bi bi-clipboard-data-fill",
    					title: "Nowa Analiza Raportu", 
    					subTitle: 'Raport #' ~ info.reportAnalysis.report.numberReport ~ ' z dnia' ~ info.reportAnalysis.report.date|date(" d.m.Y"),
						id: info.reportAnalysis.report.id,
						type: "report"
				} %}
				{% elseif  info.action == 'edit-analysis-report'%}
					{% include 'dashboard/header/_info.html.twig' with {
						icon : "bi bi-clipboard-data",
    					title: "Edytowano Analizę Raportu", 
    					subTitle: 'Raport #' ~ info.reportAnalysis.report.numberReport ~ ' z dnia' ~ info.reportAnalysis.report.date|date(" d.m.Y"),
						id: info.reportAnalysis.report.id,
						type: "report"
				} %}
				{% elseif  info.action == 'new-student'%}
					{% include 'dashboard/header/_info.html.twig' with {
						icon : "bi bi-person-fill-add",
    					title: "Nowy Podopieczny", 
    					subTitle: 'Do Twojego zespołu dołączył/a ' ~ info.newStudent.firstName ~ ' ' ~ info.newStudent.lastName,
						id: info.newStudent.id,
						type: "trener"
				} %}
				{% elseif  info.action == 'termination'%}
					{% include 'dashboard/header/_info.html.twig' with {
						icon : "bi bi-person-x",
    					title: "Zakończenie Współpracy", 
    					subTitle: info.newStudent.firstName ~ ' ' ~ info.newStudent.lastName  ~ ' zakończył/a współpracę',
						id: info.newStudent.id,
						type: "student"
				} %}
				{% else %}
					<div class="text-center mb-2">
						<strong class="me-auto text-uppercase">Brak info</strong>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</div>
