{% set parameters = [
	{title: 'Waga' , actual: report.weight, last: lastReport[0].weight, diference: report.weight - lastReport[0].weight, measure: "kg"},
	{title: 'Łydka' , actual: report.calfCircumference, last: lastReport[0].calfCircumference, diference:  report.calfCircumference -  lastReport[0].calfCircumference, measure: "cm"},
	{title: 'Udo' , actual: report.thighCircumference, last: lastReport[0].thighCircumference, diference:  report.thighCircumference -  lastReport[0].thighCircumference, measure: "cm"},
	{title: 'pas' , actual: report.beltCircumference, last: lastReport[0].beltCircumference, diference:  report.beltCircumference -  lastReport[0].beltCircumference, measure: "cm"},
	{title: 'Klatka' , actual: report.chestCircumference, last: lastReport[0].chestCircumference, diference:  report.chestCircumference -  lastReport[0].chestCircumference, measure: "cm"},
	{title: 'Szyja' , actual: report.neckCircumference, last: lastReport[0].neckCircumference, diference:  report.neckCircumference -  lastReport[0].neckCircumference, measure: "cm"},
	{title: 'Biceps' , actual: report.bicepsCircumference, last: lastReport[0].bicepsCircumference, diference:  report.bicepsCircumference -  lastReport[0].bicepsCircumference, measure: "cm"},
	{title: 'Przedramię' , actual: report.forearmCircumference, last: lastReport[0].forearmCircumference, diference:  report.forearmCircumference -  lastReport[0].forearmCircumference, measure: "cm"},
] %}

{% for parameter in parameters %}
	<tr>
		<td>{{parameter.title}}</td>
		<td>{{parameter.actual}}<small>{{parameter.measure}}</smal>
		</td>
		<td>{{parameter.last}}<small>{{parameter.measure}}</smal>
		</td>
		<td>{{parameter.diference}}<small>{{parameter.measure}}</smal>
		</td>
	</tr>
{% endfor %}
