{% extends 'base.html.twig' %}

{% block title %}Raport
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			{% if is_granted('ROLE_STUDENT')  %}
				<h2 class="title">Raport</h2>
			{% else %}
				<h2 class="title">Raport podopiecznego:
					{{report.student.firstName}}
					{{report.student.lastName}}
				</h2>

			{% endif %}
		</div>
	{% endblock %}
	{% block section %}
		<section class="section-report">


			<div class="row box-report d-flex gap-3">
				<div class="info col-12 d-flex gap-3 p-0">
					<div class="gallery d-flex align-content-center ">
						{% include "dashboard/shared/_img_raport.html.twig" %}
					</div>

					<div class=" d-flex flex-column justify-content-between flex-grow-1 text-center">
						<div class="d-flex justify-content-between gap-3 mb-3">
							<div class="p-3 rounded-5 my-bg-white d-flex flex-column justify-content-between">
								<p class="h6 mb-2">Sprawdzony przez trenera</p>
								<div class="d-flex justify-content-center align-items-center ">
									{% if report.verified %}
										<p class="text-success h6 me-3">
											<i class="bi bi-journal-check"></i>
											TAK
										</p>
										<button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
											Zobacz
										</button>
									{% else %}
										<p class="text-danger h6 me-3">
											<i class="bi bi-journal-x"></i>
											NIE
										</p>
										{% if is_granted('ROLE_TRAINER')  %}
											<a href="{{path('trainer_report_add_analysis', {id: report.id} )}}" type="button" class="btn btn-success btn-sm">Sprawdź</a>
										{% endif %}
									{% endif %}
								</div>
							</div>
							<div class="d-flex flex-column p-3 rounded-5 my-bg-white flex-grow-1">
								<p class="h6 mb-2">Raport z dnia</p>
								<p class="h6">{{report.date | date("d.m.Y")}}</p>
							</div>
						</div>

						<div class="p-3 rounded-5 my-bg-white">
							<p class="h6 mb-2">Dieta trzymana na</p>
							{% if report.percentDiet >= 80 %}
								<p class="h4 text-success mb-1">{{report.percentDiet}}%</p>
							{% else %}
								<p class="h4 text-danger mb-1">{{report.percentDiet}}%</p>
							{% endif %}
							<div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
								<div class="progress-bar progress-bar-striped " data-value='{{report.percentDiet}}'></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 p-4 text-center rounded-5 my-bg-white">
					<p class="h6 mb-3">Komentarz do raportu</p>
					{% if report.comment %}
						<p>{{report.comment}}</p>
					{% else %}
						<p>Brak komentarza!</p>
					{% endif %}
				</div>
				<div class="rounded-5 p-3 my-bg-white">
					<table class="table m-0 my-bg-white">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Aktualne Wymiary</th>
								<th scope="col">Poprzednie Wymiray</th>
								<th scope="col">Różnica</th>
							</tr>
						</thead>
						<tbody>
							{% if lastReport %}
								{% include 'dashboard/student-trainer/_further_reports_data.html.twig'%}
							{% else %}
								{% include 'dashboard/student-trainer/_first_report_data.html.twig' %}
							{% endif %}
						</tbody>
					</tbody>
				</table>
			</div>

		</div>


		{% if report.verified %}
			<div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="staticBackdropLabel">Analiza raportu dnia
								{{report.reportAnalysis.dateAnalysis| date("d.m.Y")}}
								Analiza przez:
								<a href="" class="link me-2">{{report.reportAnalysis.trainer.firstName}}
									{{report.reportAnalysis.trainer.lastName}}</a>
							</h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p class="h6">Plan Treningowy:</p>
							<p>{{report.reportAnalysis.TrainingPlan}}</p>
							<p class="h6 mt-3">Plan Żywieniowy:</p>
							<p>{{report.reportAnalysis.NutritionPlan}}</p>
							<p class="h6 mt-3">Zalecenia:</p>
							<p>{{report.reportAnalysis.recommendations}}</p>
						</div>
						<div class="modal-footer">
							{% if is_granted('ROLE_TRAINER')  %}
								<a href="{{path('trainer_report_analysis_edit', {id: report.reportAnalysis.id})}}" type="button" class="btn danger">Edytuj</a>
							{% endif %}
							<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Zamknij</button>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</section>
{% endblock %}{% endblock %}
