<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}
		{{ encore_entry_link_tags('app') }}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}
	</head>
	<body>
		<div class="">
			{% if is_granted('IS_AUTHENTICATED_FULLY') %}
				<span class="fs-5 btn-lg py-2 mx-2">Zalogowany:
					{{app.user.email}}</span>
			{% else %}
				<a type="button" class="btn btn-primary btn-lg mx-1" href="{{path('app_login')}}">Login</a>
				<a type="button" class="btn btn-primary btn-lg mx-1" href="{{path('app_registration_user')}}">Rejestracja</a>
			{% endif %}
			{% block body %}{% endblock %}
		</div>
	</body>
</html>
