<div>
	{{ form_errors(formAvatar) }}
	{{ form_start(formPassword, {'attr':{'class': 'row g-3 needs-validation'}}) }}

	<div class="col-md-12">
		{{ form_label(formAvatar.avatar, 'Zmień Avatar', {'label_attr': {'class': 'form-label h3'}}) }}
		{{ form_widget(formAvatar.avatar, {'attr': {'class': 'form-control my-bg-white'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(formAvatar.avatar) }}</small>
		</div>
	</div>
	<div class="text-end">
		<button type="submit" class="btn btn-success">Zapisz</button>
	</div>
	{{ form_end(formAvatar) }}
</div>
