{% extends 'base.html.twig' %}

{% block title %}Edytuj Dane
{% endblock %}


{% block main %}
	{% block titleSection %}
		<div class="title-section">
			<h2 class="title">Edytuj Dane</h2>
		</div>
	{% endblock %}
	{% block section %}
		<section>
			{{ form_errors(form) }}
			{{ form_start(form, {'attr':{'class': 'row g-3 needs-validation'}}
			)}}

			<div class="col-md-6">
				{{ form_label(form.firstName, 'Imię', {'label_attr': {'class': 'form-label mb-0'}}) }}
				{{ form_widget(form.firstName, {'attr': {'class': 'form-control my-bg-white'}}) }}
				<div class="text-danger">
					<small>{{ form_errors(form.firstName) }}</small>
				</div>
			</div>
			<div class="col-md-6">
				{{ form_label(form.lastName, 'Nazwisko', {'label_attr': {'class': 'form-label mb-0'}}) }}
				{{ form_widget(form.lastName, {'attr': {'class': 'form-control my-bg-white'}}) }}
				<div class="text-danger">
					<small>{{ form_errors(form.lastName) }}</small>
				</div>
			</div>
			<div class="col-md-6">
				{{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label mb-0'}}) }}
				{{ form_widget(form.email, {'attr': {'class': 'form-control my-bg-white'}}) }}
				<div class="text-danger">
					<small>{{ form_errors(form.email) }}</small>
				</div>
			</div>
			<div class="col-md-6">
				{{ form_label(form.avatar, 'Klatka', {'label_attr': {'class': 'form-label mb-0'}}) }}
				{{ form_widget(form.avatar, {'attr': {'class': 'form-control my-bg-white'}}) }}
				<div class="text-danger">
					<small>{{ form_errors(form.avatar) }}</small>
				</div>
			</div>
			<div class="col-md-6">
				{{ form_label(form.password.first, 'Hasło', {'label_attr': {'class': 'form-label', }}) }}
				{{ form_widget(form.password.first, {'attr': {'class': 'form-control my-bg-white'}}) }}
				<div class="text-danger">
					{{ form_errors(form.password.first) }}
				</div>
			</div>

			<div class="col-md-6">
				{{ form_label(form.password.second, 'Powtórz Hasło', {'label_attr': {'class': 'form-label', }}) }}
				{{ form_widget(form.password.second, {'attr': {'class': 'form-control my-bg-white'}}) }}
				<div class="text-danger">
					{{ form_errors(form.password.second) }}
				</div>
			</div>
			<div class="col-md-12">
				{{ form_label(form.description, 'Opis', {'label_attr': {'class': 'form-label mb-0'}}) }}
				{{ form_widget(form.description, {'attr': {'class': 'form-control my-bg-white'}}) }}
				<div class="text-danger">
					<small>{{ form_errors(form.description) }}</small>
				</div>
			</div>
			<div class="text-end">
				{{ form_widget(form.save, {'attr': {'class': 'btn btn-success', 'type': 'submit'}, 'label': 'Wyslij'})}}
			</div>
		</section>
	{% endblock %}
{% endblock %}
