<small>{{ form_errors(form) }}

	{{ form_start(form, {'attr':{'class': 'row g-3 needs-validation p-2 px-5'}}
	)}}

	<div class="col-md-3">
		{{ form_label(form.weight, 'Waga', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.weight, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.weight) }}</small>
		</div>
	</div>
	<div class="col-md-3">
		{{ form_label(form.calfCircumference, 'Łydka', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.calfCircumference, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.calfCircumference) }}</small>
		</div>
	</div>
	<div class="col-md-3">
		{{ form_label(form.thighCircumference, 'Udo', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.thighCircumference, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.thighCircumference) }}</small>
		</div>
	</div>
	<div class="col-md-3">
		{{ form_label(form.beltCircumference, 'Pas', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.beltCircumference, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.beltCircumference) }}</small>
		</div>
	</div>
	<div class="col-md-3">
		{{ form_label(form.chestCircumference, 'Klatka', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.chestCircumference, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.chestCircumference) }}</small>
		</div>
	</div>
	<div class="col-md-3">
		{{ form_label(form.neckCircumference, 'Szyja', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.neckCircumference, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.neckCircumference) }}</small>
		</div>
	</div>
	<div class="col-md-3">
		{{ form_label(form.bicepsCircumference, 'Biceps', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.bicepsCircumference, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.bicepsCircumference) }}</small>
		</div>
	</div>
	<div class="col-md-3">
		{{ form_label(form.forearmCircumference, 'Przedriamię', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.forearmCircumference, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.forearmCircumference) }}</small>
		</div>
	</div>
	<div class="col-md-12">
		{{ form_label(form.percentDiet, 'Dieta na:', {'label_attr': {'class': 'label-percent-diet form-label mb-0'}}) }}
		{{ form_widget(form.percentDiet, {'attr': {'class': 'input-percent-diet form-range'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.percentDiet) }}</small>
		</div>
	</div>
	<div class="col-md-4">
		{{ form_label(form.frontImg, 'Zdjęcie Przód', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.frontImg, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.frontImg) }}</small>
		</div>
	</div>
	<div class="col-md-4">
		{{ form_label(form.sideImg, 'Zdjęcie Bok', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.sideImg, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.sideImg) }}</small>
		</div>
	</div>
	<div class="col-md-4">
		{{ form_label(form.backImg, 'Zdjęcie Tył', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.backImg, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.backImg) }}</small>
		</div>
	</div>
	<div class="col-md-12">
		{{ form_label(form.comment, 'Uwagi', {'label_attr': {'class': 'form-label mb-0'}}) }}
		{{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
		<div class="text-danger">
			<small>{{ form_errors(form.comment) }}</small>
		</div>
	</div>
	<div class="text-end">
		{{ form_widget(form.save, {'attr': {'class': 'btn btn-success', 'type': 'submit'}, 'label': 'Wyslij'})}}
	</div>
	{{ form_end(form) }}
