<a data-fancybox="gallery" href="{{reports_url ~ report.frontImg}} " data-caption="Data raportu: {{report.date|date(" d.m.y") }}">
	<img class="img rounded-4 object-fit-cover my-1" src="{{reports_url ~ report.frontImg}}" alt="">
</a>
<a data-fancybox="gallery" href="{{reports_url ~ report.sideImg}}" data-caption="Data raportu: {{report.date|date(" d.m.y") }}">
	<img class="img rounded-4 object-fit-cover m-1" src="{{reports_url ~ report.sideImg}}" alt="">
</a>
<a data-fancybox="gallery" href="{{reports_url ~ report.backImg}}" data-caption="Data raportu: {{report.date|date(" d.m.y") }}">
	<img class="img rounded-4 object-fit-cover my-1" src="{{reports_url ~ report.backImg}}" alt="">
</a>
